.vs
.vs/OAS_BE
ApiGateway/obj
ApiGateway/bin
Authen.API/obj
Authen.API/bin
Core/obj
Core/bin
Domain/obj
Domain/bin
Infrastructure/obj
Infrastructure/bin
Payment.API/obj
Payment.API/bin
Product.API/obj
Product.API/bin
Search.API/obj
Search.API/bin