.vs/*
src/ApiGateway/obj
src/ApiGateway/bin
src/Authen.API/obj
src/Authen.API/bin
src/Core/obj
src/Core/bin
src/Domain/obj
src/Domain/bin
src/Infrastructure/obj
src/Infrastructure/bin
src/Payment.API/obj
src/Payment.API/bin
src/Product.API/obj
src/Product.API/bin
src/Search.API/obj
src/Search.API/bin