.vs/OAS_BE/FileContentIndex/2195439e-6a66-4cda-ab87-0de89a42fc21.vsidx
ApiGetway/obj/ApiGetway.csproj.nuget.dgspec.json
ApiGetway/obj/ApiGetway.csproj.nuget.g.props
ApiGetway/obj/ApiGetway.csproj.nuget.g.targets
ApiGetway/obj/project.assets.json
ApiGetway/obj/project.nuget.cache
ApiGetway/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ApiGetway/obj/Debug/net6.0/ApiGetway.AssemblyInfo.cs
ApiGetway/obj/Debug/net6.0/ApiGetway.AssemblyInfoInputs.cache
ApiGetway/obj/Debug/net6.0/ApiGetway.assets.cache
ApiGetway/obj/Debug/net6.0/ApiGetway.csproj.AssemblyReference.cache
ApiGetway/obj/Debug/net6.0/ApiGetway.GeneratedMSBuildEditorConfig.editorconfig
ApiGetway/obj/Debug/net6.0/ApiGetway.GlobalUsings.g.cs
Authen.API/obj/Authen.API.csproj.nuget.dgspec.json
Authen.API/obj/Authen.API.csproj.nuget.g.props
Authen.API/obj/Authen.API.csproj.nuget.g.targets
Authen.API/obj/project.assets.json
Authen.API/obj/project.nuget.cache
Authen.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Authen.API/obj/Debug/net6.0/Authen.API.AssemblyInfo.cs
Authen.API/obj/Debug/net6.0/Authen.API.AssemblyInfoInputs.cache
Authen.API/obj/Debug/net6.0/Authen.API.assets.cache
Authen.API/obj/Debug/net6.0/Authen.API.csproj.AssemblyReference.cache
Authen.API/obj/Debug/net6.0/Authen.API.GeneratedMSBuildEditorConfig.editorconfig
Authen.API/obj/Debug/net6.0/Authen.API.GlobalUsings.g.cs
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Core.csproj.nuget.g.targets
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/obj/Debug/net6.0/Core.AssemblyInfo.cs
Core/obj/Debug/net6.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net6.0/Core.assets.cache
Core/obj/Debug/net6.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net6.0/Core.GlobalUsings.g.cs
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Domain/obj/Debug/net6.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net6.0/Domain.assets.cache
Domain/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
Domain/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net6.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Payment.API/obj/Payment.API.csproj.nuget.dgspec.json
Payment.API/obj/Payment.API.csproj.nuget.g.props
Payment.API/obj/Payment.API.csproj.nuget.g.targets
Payment.API/obj/project.assets.json
Payment.API/obj/project.nuget.cache
Payment.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Payment.API/obj/Debug/net6.0/Payment.API.AssemblyInfo.cs
Payment.API/obj/Debug/net6.0/Payment.API.AssemblyInfoInputs.cache
Payment.API/obj/Debug/net6.0/Payment.API.assets.cache
Payment.API/obj/Debug/net6.0/Payment.API.csproj.AssemblyReference.cache
Payment.API/obj/Debug/net6.0/Payment.API.GeneratedMSBuildEditorConfig.editorconfig
Payment.API/obj/Debug/net6.0/Payment.API.GlobalUsings.g.cs
Product.API/obj/Product.API.csproj.nuget.dgspec.json
Product.API/obj/Product.API.csproj.nuget.g.props
Product.API/obj/Product.API.csproj.nuget.g.targets
Product.API/obj/project.assets.json
Product.API/obj/project.nuget.cache
Product.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Product.API/obj/Debug/net6.0/Product.API.AssemblyInfo.cs
Product.API/obj/Debug/net6.0/Product.API.AssemblyInfoInputs.cache
Product.API/obj/Debug/net6.0/Product.API.assets.cache
Product.API/obj/Debug/net6.0/Product.API.csproj.AssemblyReference.cache
Product.API/obj/Debug/net6.0/Product.API.GeneratedMSBuildEditorConfig.editorconfig
Product.API/obj/Debug/net6.0/Product.API.GlobalUsings.g.cs
Search.API/obj/project.assets.json
Search.API/obj/project.nuget.cache
Search.API/obj/Search.API.csproj.nuget.dgspec.json
Search.API/obj/Search.API.csproj.nuget.g.props
Search.API/obj/Search.API.csproj.nuget.g.targets
Search.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Search.API/obj/Debug/net6.0/Search.API.AssemblyInfo.cs
Search.API/obj/Debug/net6.0/Search.API.AssemblyInfoInputs.cache
Search.API/obj/Debug/net6.0/Search.API.assets.cache
Search.API/obj/Debug/net6.0/Search.API.csproj.AssemblyReference.cache
Search.API/obj/Debug/net6.0/Search.API.GeneratedMSBuildEditorConfig.editorconfig
Search.API/obj/Debug/net6.0/Search.API.GlobalUsings.g.cs
